<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventualy</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <link href="~/css/admin.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">*@
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/AlertifyJS/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/AlertifyJS/css/themes/bootstrap.css" rel="stylesheet" />
    @RenderSection("Styles", required: false);

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <partial name="_Navbar" />
        <partial name="_Sidebar" />
        <div class="content-wrapper">
            <main role="main" class="content">
                <div class="container-fluid">               
                    @RenderBody()
                </div>                
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                <partial name="_Footer" />
            </div>

        </footer>

    </div>
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>*@
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AlertifyJS/alertify.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
