<form [formGroup]="formularioRegistroEmpleado" (ngSubmit)="onSubmit()">
    <input type="hidden" name="ClienteId" formControlName="ClienteId">
    <div class="input-group mb-3">
        <span class="input-group-text bg-white" ><i class="fa fa-user-circle" [class.blue-icon]="Nombres.valid" [class.red-icon]="Nombres.invalid && Nombres.touched"></i></span>
        <input name="Nombres" formControlName="Nombres" class="form-control" placeholder="Nombre del empleado">
       

    </div>   
     <!--Mensajes de error-->
        
     <div *ngIf="Nombres.invalid && (Nombres.touched || Nombres.dirty)" class="alert alert-danger">                     
                    
        <div *ngIf="Nombres.hasError('required')">
            El nombre del cliente es requerido
        </div>  
        <div  *ngIf="this.Nombres.hasError('pattern')">
            El nombre debe contener solo letras
        </div>     

    </div>   
    
    


    <div class="input-group mb-3">
        <span class="input-group-text bg-white" ><i class="fa fa-user-circle"></i></span>
        <input name="Email" formControlName="Email" class="form-control" placeholder="Email">
    </div> 
    <div class="input-group mb-3">
        <span class="input-group-text bg-white" ><i class="fa fa-user-circle"></i></span>
        <input name="Documento" formControlName="Documento" class="form-control" placeholder="Documento">
    </div> 
    <div class="input-group mb-3">
        <span class="input-group-text bg-white" ><i class="fa fa-user-circle"></i></span>
        <input name="Estado" formControlName="Estado" class="form-control" placeholder="Estado">
    </div> 
    <div class="input-group mb-3">
        <span class="input-group-text bg-white" ><i class="fa fa-user-circle"></i></span>
        <input name="TipoDocumentoId" formControlName="TipoDocumentoId" class="form-control" placeholder="TipoDocumento">
    </div> 
    <div class="input-group mb-3">
        <span class="input-group-text bg-white" ><i class="fa fa-user-circle"></i></span>
        <input name="Edad" formControlName="Edad" class="form-control" placeholder="Edad">
    </div> 
    <div class="input-group mb-3">
        <span class="input-group-text bg-white" ><i class="fa fa-user-circle"></i></span>
        <input name="Cumpleanios" formControlName="Cumpleanios" class="form-control" placeholder="Cumpleaños">
    </div> 
       
    <br>
    <div class="form-group ">
        <button class="btn btn-success btn-lg btn-block " [disabled]="formularioRegistroEmpleado.invalid" type="submit "> <i class="fa fa-save "></i> Guardar</button>
    </div>
    <div class="form-group ">
        <button class="btn btn-success btn-lg btn-block " (click)="guarda()"> <i class="fa fa-save "></i> Guardar</button>
    </div>

</form>