/*
.main-header {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
}
*/



/*.btn-rojo, .btn-rojo:hover, .btn-rojo:active, .btn-rojo:visited {
    background-color: #be191b !important;
}


.fixed .main-sidebar {
    padding-top: 50px;
    min-height: 100% !important;
}

.main-sidebar {
    min-height: 100% !important;
    height: auto !important;
}



Avatar
pre {
    margin: 0px 0;
    padding: 0px;
    background: #fafafa;
}

.round {
    margin-top: 10px;
    border-radius: 50%;
}
fin avatar


.content-header {
    height: 0px !important;
}


.navbar-nav > li > a > i {
    color: white !important;
}

.navbar-nav {

    color: white !important;
}

    .navbar-nav > li > a {
        color: white !important;
    }


.main-header {
    background-color: #e42313 !important;
}

.brand-link {
    background-color: #e42313 !important;
}


.main-sidebar {
    background-color: #343a40 !important;
}*/
