@model Eventualy.Business.Dtos.Usuarios.ResetearPasswordDto
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Devoluciones UniSinú | Olvidé contraseña</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <!-- Alertify -->
    <link href="~/lib/AlertifyJS/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/AlertifyJS/css/themes/default.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <img src="~/imagenes/plantilla/logo_rojo.png" class="img-fluid" height: auto>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Ingrese la nueva contraseña.</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-action="ResetearPassword" method="post">
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Ingrese la nueva contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="ConfirmarPassword" type="password" class="form-control" placeholder="Confirme la nueva contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-danger btn-block">Cambiar contraseña</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <br />
                <div class="text-muted">
                    <p><small>La contraseña debe contener entre 9 y 20 caracteres, se debe utilizar una contraseña que contenga mínimo un número, mínimo un carácter en mayúsculas y mínimo un carácter en minúsculas.</small></p>
                </div>
                <p class="mt-3 mb-1">
                    <a asp-action="Login">Iniciar sesión</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <!-- Alertify -->
    <script src="~/lib/AlertifyJS/alertify.js"></script>

    <script src="~/js/combox.registro.es.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Password")) { <text>

        alertify.alert('Contraseña inválida', "@TempData["Mensaje"]");



                 </text>
        }
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>

